# ignore model files
results/*.pth
results/*.joblib

# ignore raw test results
results/cnn_test_results.csv
results/xgboost_test_results.csv

# keep these
!results/confusion_matrices/
!results/robustness_plots/
!results/performance_metrics.csv

# ignore augmented images and cache
data/augmented_images/
__pycache__/
*.pyc
.DS_Store